#articAirTitle{
	height:2.2rem;
	width:39rem;
}
#articAirTitle h1{
	color:#eee;
	font-size:1.25rem;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 2.2rem;
}
#articAirTable{
	color:#eee;
	text-align: center;
	font-family: "微软雅黑";
	font-size: .5rem;
	width:39rem;
	height:17.25rem;
}
#articAirTable>thead{
	line-height:1.725rem;
	background: #3f4656;
}
#articAirTable>tbody>tr{
	background:#fff;

}
#articAirTable>tbody>tr>td{
	height:3rem;
	border:1px #000 solid;
	color:#333;
}
#articAirTable>tbody>tr>td img{
	height:2.5rem;
	margin:.25rem;
	float:left;
}
#articAirTable>tbody>tr>td p{
	display: block;
	width:3rem;
	float:right;
	line-height:1.5rem;
	word-wrap:break-word; 
}