	*{
		margin:0;
		padding:0;
	}
	#header{
		width:100%;
		height:50px;
		background:#3f4656;
	}
	#container{
		width:100%;
		height:905px;
	}
	#map{
		width:100%;
		height:905px;
		position:absolute;
		/*border:2px solid red;*/
		background: red;
	}
	#left{
		width:15%;
		height:100%;
		float:left;
		background:#232d37;
		overflow: hidden;
	}
	#center{
		width:85%;
		height:100%;
		float:left;
		background:#333;
	}