@media only screen and (min-width:1800px){
	html{
		font-size:40px !important;
	}
}
@media only screen and (min-width:1600px) and (max-width:1800px){
	html{
		font-size:36px !important;
	}
}
@media only screen and (min-width:1400px) and (max-width:1600px){
	html{
		font-size:32px !important;
	}
}
@media only screen and (min-width:1200px) and (max-width:1400px){
	html{
		font-size:28px !important;
	}
}
@media only screen and (min-width:1000px) and (max-width:1200px){
	html{
		font-size:24px !important;
	}
}
@media only screen and (min-width:800px) and (max-width:1000px){
	html{
		font-size:20px !important;
	}
}
@media only screen and (min-width:600px) and (max-width:800px){
	html{
		font-size:16px !important;
	}
}
*{
	padding:0;
	margin:0;
}
body{
	overflow: hidden;
	background: #484c58;
}
#header{
	width:45rem;
	height:1.8rem;
	background: #3f4656;
	margin:0 auto;
}
#header img{
	margin:.4rem 0 0 .5rem;
	height:1rem;
	float:left;
}
#headerTime,#headerManager{
	width:5rem;
	height:1.8rem;
	float:right;
}
#headerManager img{
	margin:.4rem .5rem 0 0;
	cursor: pointer;
}
#headerManager p{
	cursor: pointer;
}
#headerManager p,#headerTime{
	color:#eee;
	line-height: 1.8rem;
	font-family: "微软雅黑";
	font-size: .5rem;
}
.managerView{
	height:1.8rem;
	width:4rem;
	float: right;
	text-decoration:none;
	color:#eee;
	font-size: .7rem;
	line-height: 1.8rem;
	text-align: center;
	background: #333;
}
#header>p{
	color:#eee;
	font-size: .6rem;
	font-family: "微软雅黑";
	line-height: 1.8rem;
	width:12rem;
	float: left;
	margin:0 0 0 .75rem;
}
#headerTime p{
	line-height: .9rem;
}
.alertMsgBg{
	width:100%;
	height:100%;
	background: #333;
	opacity: .5;
	z-index: 100;
	position:absolute;
}
#alertMsg{
	z-index: 10000;
	height:5rem;
	width:9.25rem;
	position:absolute;
	top:30%;
	left:40%;
	background:#484c58;
	border-radius: .25rem;
}
#alertMsg p{
	font-size: .5rem;
	font-family: "微软雅黑";
	color:#eee;
	line-height: 3.625rem;
	text-align: center;
}
#alertBtn1,#alertBtn2{
	text-align: center;
	color: #eee;
	font-size: .4rem;
	font-family: "微软雅黑";
	line-height: .625rem;
	cursor: pointer;
	float: left;
	margin:0 0 0 1.625rem;
	height:.625rem;
	width:1.725rem;
	border-radius: .125rem;
	border:1px solid #eee;
	background: linear-gradient(0deg,#484c58,#3f4656,#484c58);
}
#alertBtn1:active,#alertBtn2:active{
	background:#333;
}
.map{
	height:22rem;
	width:39rem;
	position:absolute;
}
.mapMap{
	height:22rem;
	width:39rem;
	background-image: url("../imgs/map.jpg");
	background-size:100% 100%; 
	float:left;
	position: relative;
}
.mapIcon{
	height:2rem;
	width:2rem;
	background-image:url("../imgs/jifang.jpg");
	background-size:100% 100%;
	position:absolute;
	left:10rem;
	top:10rem; 
	cursor:pointer;
}
.mapMsg{
	height:22rem;
	width:39rem;
	float:left;
	padding-top: 2rem;
	display: none;
}
.mapMsgItem{
	height:8rem;
	width:9rem;
	background:#333;
	float:left;
	margin:.3rem;
	
}
.mapExit{
	height:1.3rem;
	width:2rem;
	background: #333;
	border-radius: .1rem;
	position: absolute;
	right:1rem;
	top:.5rem;
	cursor: pointer;
}
.mapExit h1{
	color:#eee;
	font-size:.5rem;
	line-height: 1.3rem;
	font-weight: .1rem;
	font-family: "微软雅黑";
	text-align: center;
}