#articTepTitle{
	height:87px;
	width:1589px;
}
#articTepTitle h1{
	color:#eee;
	font-size:50px;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 87px;
}
#articTepTable{
	color:#eee;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	width:1589px;
	height:700px;
}
#articTepTable>thead{
	line-height:70px;
	background: #3f4656;
}
#articTepTable>tbody>tr{
	background:#fff;

}
#articTepTable>tbody>tr>td{
	height:120px;
	border:1px #000 solid;
	color:#333;
}
#articTepTable>tbody>tr>td img{
	height:100px;
	margin:10px;
	float:left;
}
#articTepTable>tbody>tr>td p{
	display:block;
	width:120px;
	float:right;
	line-height:60px;
	word-wrap:break-word; 
}