#artic1{
	width:45rem;
	height:44.5rem;
	background:#484c58;
	display: none;
	margin:0 auto;
}
#articNav{
	float: left;
	width:6rem;
	height:100%;
	background:#3f4656; 
}
#articNav .articNavItem{
	height:2.5rem;
	width:100%;
	margin:0 0 .25rem 0;
	line-height: 2.5rem;
	text-align: center;
	font-size: .5rem;
	font-family: "微软雅黑";
	color:#eee;
	cursor: pointer;
}
.articNavItemHover{
	background: #484c58;
}
.articNavItemActive{                 	/*右边导航栏选中状态*/
	background: #f68701;	
}
#articContent{						 	/*固定窗口*/
	position: relative;
	float:left;
	height:22rem;
	width:39rem;
	overflow: hidden;
}
#artivContentView{						/*移动窗口*/
	position: absolute;
	left:0px;												
	height:22rem;
	width:273rem;
}
.articContentItem{
	height:22rem;
	width:39rem;
	float: left;
	color: #eee;
}
.articContentVideo{
	position: relative;
	height:10rem;
	width:12.1rem;
	float: left;
	background: url("../imgs/摄像头.jpg");
	margin:.4rem;
}
.articContentVideo img{
	height: 100%;
	width:100%;
}
#articContentVideoMsg{
	position:absolute;
	width:100%;
	height:1.25rem;
	text-align: center;
	line-height: 1.25rem;
	color: #eee;
	font-family: "微软雅黑";
	font-size: .5rem;
	background: #3f4656;
}